.dashboard_icon a span {
	text-align:center !important;
}



/**Payroll STyle**/

.bg-grey{
	background-color: #E1E1E1;
}

.bg-grey2{
	background-color: #EEE;
}

.bg_good{
	color: #468847;
	background-color: #dff0d8;
}

.bg_alert{
	color: #b94a48;
	background-color: #f2dede;
}

td.align-right{
	text-align: right;
}


.loader{
	text-align: center;
	margin-bottom: 20px;
}

.processing{
	background-color: #CCC;
	padding: 3px 20px;
	border: 1px solid #333;
	display: inline-block;
}


.loading{
	padding: 50px 0;
	text-align: center;
}

.margin{
	margin: 10px 0;
}

.margin_bottom{
	margin-bottom: 40px;
}


#modal-1{
	width: 60%;
	position: fixed;
	top:10%;
	left:20%;
	margin-left: 0;
}


.pad-1{
	padding: 10px;
}

.pad-2{
	padding: 10px 0;
}

.pad-3{
	padding:30px 10px;
}


.list{
	margin: 0;
	list-style-type: none;
}

.list li{
	padding: 10px;
	border-bottom: 1px solid #EEE;
}


.list li:hover{
	background-color: #EEE;		
}


.list li a{
	color: #222;
	text-decoration: none;
}


.border_light_grey{
	border: 1px solid #f4f4f4;
}

.stripe{
	background-color: #f4f4f4;
	padding: 10px;
}


.boxCenter{
	text-align: center;
	padding: 80px 0;
}